//cores

$azulMarinho: #000080;
$azulPastel: #7A9CC6;
$bege: #FFFAEB;
$coral: #FF7F50;
$branco: #ffffff;
$marrom: #37371F;
$cinza:#F1F1F1;
$preto: #000000;

//fontes

$fs50: 50px;
$fs45: 45px;
$fs40: 40px;
$fs35: 35px;
$fs30: 30px;
$fs25: 25px;
$fs20: 20px;
$fs18: 18px;
$fs16: 16px;
$fs14: 14px;

